.card {
  display: flex;
  min-width: 80%;
  margin-right: 20%;
  height: 55vh;

  div {
    height: 100%;
    width: 50%;

    .title {
      margin-top: 0;
    }

    p {
      width: 80%;
    }
  }

  img {
    height: 30%;
    width: 40%;
    object-fit: contain;
  }
}

.line {
  position: fixed;
  bottom: 12%;
  display: block;
  background-color: black;
  height: 1px;
  width: 100%;
}
