<section>
    <div class="centered">
        <h1>{{ 'home.title' | translate }}</h1>
        <h3>{{ 'home.job' | translate }}</h3>
    
        <div>
            <img src="/shared/assets/images/linkedin.svg"/>
            <img src="/shared/assets/images/github.svg"/>
            <img src="/shared/assets/images/mail.svg"/>
            <img src="/shared/assets/images/phone.svg"/>
            <img src="/shared/assets/images/cv.svg"/>
        </div>
    </div>
    
    <div class="vertical-end">
        <p>scroll</p>
        <img src="/shared/assets/images/scroll.svg"/>
    </div>

</section>