<section>
  <div class="centered">
    <h1>{{ "home.title" | translate }}</h1>
    <h3>{{ "home.job" | translate }}</h3>

    <div>
      <img alt="linkedin" src="/shared/assets/images/purple/linkedin.svg" />
      <img alt="github" src="/shared/assets/images/purple/github.svg" />
      <img alt="mail" src="/shared/assets/images/purple/mail.svg" />
      <img alt="phone" src="/shared/assets/images/purple/phone.svg" />
      <img alt="cv" src="/shared/assets/images/purple/cv.svg" />
    </div>
  </div>

  <div class="vertical-end">
    <p>scroll</p>
    <img alt="scroll" src="/shared/assets/images/purple/scroll.svg" />
  </div>
</section>
