<section>
  <div class="centered">
    <h1>{{ "home.title" | translate }}</h1>
    <h3>{{ "home.job" | translate }}</h3>

    <div>
      <img src="/shared/assets/images/purple/linkedin.svg" alt="linkedin"/>
      <img src="/shared/assets/images/purple/github.svg" alt="github"/>
      <img src="/shared/assets/images/purple/mail.svg" alt="mail"/>
      <img src="/shared/assets/images/purple/phone.svg" alt="phone"/>
      <img src="/shared/assets/images/purple/cv.svg" alt="cv"/>
    </div>
  </div>

  <div class="vertical-end">
    <p>scroll</p>
    <img src="/shared/assets/images/purple/scroll.svg"  alt="scroll"/>
  </div>
</section>
