<section class="contact-centered">
  <div class="contact-centered">
    <h1>{{ "contact.title" | translate }}</h1>
    <form>
      <span>
        <input
          [placeholder]="'contact.title' | translate"
          class="text"
          type="text"
        />
        <input
          [placeholder]="'contact.title' | translate"
          class="text"
          type="text"
        />
      </span>
      <input
        [placeholder]="'contact.title' | translate"
        class="text full-width"
        type="text"
      />
      <textarea
        [placeholder]="'contact.title' | translate"
        class="text full-width"
      ></textarea>
      <span class="left-align-privacy">
        <input class="check" type="checkbox" />
        <p>{{ "contact.title" | translate }}</p>
      </span>
      <button>Contact me</button>
    </form>

    <div class="icons">
      <img alt="linkedin" src="/shared/assets/images/white/linkedin.svg" />
      <img alt="github" src="/shared/assets/images/white/github.svg" />
      <img alt="mail" src="/shared/assets/images/white/mail.svg" />
      <img alt="phone" src="/shared/assets/images/white/phone.svg" />
      <img alt="cv" src="/shared/assets/images/white/cv.svg" />
    </div>
  </div>
  <div class="footer">
    <span></span>
    <p>© Pierre Boucher</p>
    <a>{{ "contact.title" | translate }}</a>
  </div>
</section>
