div {
  height: 100%;
  display: flex;
}

#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  margin-left: 25%;
}

.project-content-main {
  min-width: 50%;
}

.project-content:nth-child(even) {
  background-color: teal;
  color: white;
}
