main {
  overflow-x: hidden;
  display: flex;
  position: sticky;
  top:0;
}

.project-content {
  min-width: 50vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4ch;
}

.project-content:nth-child(even) {
  background-color: teal;
  color: white;
}
