section {
  height: 100%;
  width: 100%;
}

.centered {
  height: 100%;
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    margin: 0;
  }

  h3 {
    margin-top: 0.2vh;
    margin-bottom: 5.3vh;
  }

  img:nth-child(5) {
    margin-right: 0;
  }

  img {
    width: 2.5vh;
    height: 2.5vh;
    margin-right: 3.2vh;
  }
}


.vertical-end {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  vertical-align: middle;
  top: 73%;
  width: fit-content;

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  p {
    transform: rotate(270deg);
    margin-bottom: 3.2vh;
    margin-top: 1.6vh;

    font-weight: normal;

    transition: margin-top 0.3s, margin-bottom 0.3s,;
  }

  &:hover {
    p {
      margin-top: 2.4vh;
      margin-bottom: 1.6vh;

      transition: margin-top 0.3s, margin-bottom 0.3s,;
    }
  }
}
